.CartTitle {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
}

.statusDiv {
    display: flex;
    margin-bottom: 10px;
}

.cardData {
    margin: 0 auto;
}

.card {
    width: 90%;
    margin: 20px;
    border: 1px solid black;
}

.statusDiv .status {
    padding: 0.3% 0.8%;
    margin: 4px;
    border: none;
    /* border: 0.5px solid rgba(0, 0, 0, .3); */
    background: red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


/* @media screen and (max-width:) {} */