.CartTitle {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
}

.statusDiv {
    display: flex;
    margin-bottom: 10px;
}

.backtoHome {
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: green;
    color: white;
}

.cardData {
    margin: 0 auto;
}

.card {
    width: 90%;
    margin: 20px;
    border: 1px solid black;
}

.statusDiv .status {
    padding: 0.3% 0.8%;
    margin: 4px;
    border: none;
    background: red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}