<div class="cardData">
    <h1 class="CartTitle">My Cart</h1>
    <div class="card">
        <div *ngFor="let first of customerdataToAdmin">
            {{first['Customer Name']}}
            <div class="card">
                <div *ngFor="let second of first['Data']">
                    {{second.length}}
                    <div class="card">
                        <div *ngFor="let third of second">
                            {{third['name']}} and {{third['count']}}
                            <div class="statusDiv">
                                <button class="status" #status1 value="postponed" (click)="valueChange(status1.value,third)">postponed</button>
                                <button class="status" #status2 value="Delivery Started" (click)="valueChange(status2.value,third)">Delivery Started</button>
                                <button class="status" #status3 value="Near You Home" (click)="valueChange(status3.value,third)">Near You Home</button>
                                <button class="status" #status4 value="Delivered" (click)="valueChange1(status4.value,third,second)">Delivered</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>