.model {
    width: 40rem;
    height: 30rem;
    position: absolute;
    left: 50%;
    top: 55%;
    z-index: 10000;
    transform: translate(-50%, -50%);
    background-color: white;
    display: flex;
    box-shadow: 0 0 0 100vw #00000080;
}

.error {
    color: #FF3636;
    height: 35px;
}

.model .close {
    position: absolute;
    right: -4%;
    border: none;
    background-color: transparent;
    /* font-size: 20px; */
}

.model .close .fa-times {
    background-color: transparent;
    font-size: 15px;
    color: white;
    font-weight: 700;
    /* filter: contrast(200%); */
}

.model .login-div {
    width: 15rem;
    background-color: #900000;
    position: relative;
    color: white;
}

.model .login-div img {
    background-color: transparent;
    bottom: 10%;
    position: absolute;
}

.model .login-div .content {
    width: 80%;
    height: 50%;
    margin-top: 20px;
    margin-left: 20px;
}

.model .login-div .content .login-head {
    font-size: 25px;
}

.model .login-right-div {
    width: calc(40rem - 15rem);
    position: relative;
}

.model .login-right-div .tabLayout {
    position: relative;
    width: 100%;
    display: flex;
    background: rgb(190, 190, 197);
    position: relative;
}

.model .login-right-div .tabLayout .tab {
    width: 50%;
    display: grid;
    cursor: pointer;
    text-decoration: none;
    place-items: center;
    color: black;
    padding: 13px;
    background: rgb(190, 190, 197);
}

.model .login-right-div .tabLayout .active {
    background-color: white;
    color: black;
    border-top-left-radius: 10px;
    position: relative;
}

.model .login-right-div .tabLayout .tab.active:nth-child(1) {
    background-color: white;
    color: black;
    border-top-left-radius: 0px;
    border-top-right-radius: 10px;
    position: relative;
}

.model .login-right-div .tabLayout .tab.active:nth-child(2):before {
    content: '';
    position: absolute;
    left: -10px;
    bottom: 0;
    width: 10px;
    height: 10px;
    border-bottom-right-radius: 6px;
    box-shadow: 5px 5px 0 rgb(255, 255, 255);
}

.model .login-right-div .tabLayout .tab .active:nth-child(1):before {
    content: '';
    position: absolute;
    /* left: -10px; */
    bottom: 0;
    width: 10px;
    height: 10px;
    border-bottom-right-radius: 6px;
    box-shadow: 5px 5px 0 rgb(255, 255, 255);
}

.model .login-right-div .tabLayout .tab.active:nth-child(1)::after {
    content: '';
    position: absolute;
    left: 100%;
    bottom: 0;
    width: 10px;
    height: 10px;
    border-bottom-left-radius: 6px;
    box-shadow: -5px 5px 0 rgb(255, 255, 255);
}

.model .login-right-div .tabLayout .tab .active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px solid rgb(255, 0, 0);
}

.model .login-right-div .form-wrapper-outer {
    padding: 40px;
    border-radius: 8px;
    width: calc(40rem - 15rem);
    margin-top: 7%;
}

.model .login-right-div .form-button {
    text-align: right;
}

.model .login-right-div .field-wrapper {
    position: relative;
    /* margin-bottom: 25px; */
}

.model .login-right-div .field-wrapper input {
    border: 1px solid rgba(0, 0, 0, 0.34);
    padding: 15px;
    border-radius: 4px;
    width: 100%;
    height: 100%;
}

.model .login-right-div .field-wrapper .field-placeholder {
    font-size: 16px;
    position: absolute;
    pointer-events: none;
    bottom: 17px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #008cff;
    background-color: transparent;
    left: 8px;
    padding: 0 8px;
    -webkit-transform: scale(.75) translateY(-39px) translateX(-60px);
    transform: scale(.75) translateY(-39px) translateX(-60px);
    z-index: 1;
    text-align: left;
    width: 100%;
}

.login-right-div button[disabled]:hover {
    background-color: black;
    cursor: not-allowed;
}

.model .login-right-div .field-wrapper .field-placeholder span {
    width: 100%;
    height: 100%;
    padding: 0px 8px;
}

.model .login-right-div .field-wrapper input:not([disabled]):focus {
    border: 1px solid rgba(0, 0, 0, 0.34);
    outline: none;
}

.model .login-right-div .field-wrapper input:not([disabled]):focus~.field-placeholder {
    color: #1A73E8;
}

.model .login-right-div .field-wrapper input:not([disabled]):focus~.field-placeholder,
.model .login-right-div .field-wrapper.hasValue input:not([disabled])~.field-placeholder {
    -webkit-transform: scale(.75) translateY(-39px) translateX(-60px);
    transform: scale(.75) translateY(-39px) translateX(-60px);
}

.model .login-right-div .form-wrapper-outer .field-wrapper button {
    width: 100%;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    height: 35px;
    background-color: orangered;
}

.model .login-right-div .form-wrapper-outer .field-wrapper button[disabled] {
    cursor: not-allowed;
    color: rgba(0, 0, 0, 0.3)
    /* background-color: black; */
}