<div class="model">
    <button class="close " (click)="closetoggle() "><i class="fas fa-times "></i></button>
    <div class="login-div innerclass">
        <div class="content ">
            <h3 class="login-head ">Login</h3>
            <p style="font-size:15px;margin-top:7px;opacity: 0.7; ">Get access to your Orders, Wishlist and Recommendations</p>
        </div>
        <img src="../../assets/images/pizzaSmallImage.png " width="100% ">
    </div>
    <div class="innerclass login-right-div">
        <div class="innerclass form-wrapper-outer">
            <div class="innerclass field-wrapper ">
                <input type="email " name="email " autocomplete="off " placeholder="&nbsp; ">
                <div class="field-placeholder "><span>Enter your email</span></div>
            </div>
            <div class="innerclass field-wrapper">
                <input type="password " autocomplete="off " placeholder="&nbsp; " name="password " id=" ">
                <div class="field-placeholder "><span>Enter your password</span></div>
            </div>
            <div class="innerclass field-wrapper">
                <button type="button " class="field-button " style="margin-bottom: -15px; ">Log in</button>
            </div>
        </div>
    </div>
</div>