        .navigation {
            width: 100vw;
            display: flex;
            justify-content: space-between;
            height: 4em;
            background-color: white;
            position: sticky;
            align-items: center;
        }
        
        .navigation a {
            text-decoration: none;
            color: rgb(255, 0, 0);
        }
        
        .navigation .links {
            margin-right: 3vw;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
        }
        
        .navigation .logo {
            margin-left: 3vw;
            display: flex;
            align-items: center;
            cursor: pointer;
            background: white;
        }
        
        .navigation .logo span,
        .navigation .logo img {
            background: white;
            margin-left: 0.4vw;
        }
        
        .navigation .logo span {
            font-size: 2rem;
        }
        
        .navigation .links a {
            padding: 1rem;
            margin-right: 5px;
            text-decoration: none;
            cursor: pointer;
            color: black;
            border-radius: 5px;
            letter-spacing: 1px;
            background: white;
            font-size: 1.3rem;
        }
        
        .navigation .links a:last-child {
            background-color: rgb(245, 78, 128);
            color: white;
            margin-right: 0px;
        }
        
        section .home {
            width: 100vw;
            height: calc(100vh - 4em);
            background: url(https://images.unsplash.com/photo-1604382354936-07c5d9983bd3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        section .dataShowing {
            display: flex;
            width: 100vw;
            margin-right: 0px;
        }
        
        section .dataShowing .cardData {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 6vw;
            margin: 20px auto;
        }
        
        section .dataShowing .cardData .card {
            width: 250px;
            border-radius: 5px;
            height: 300px;
            background-color: rgb(196, 196, 196);
            box-shadow: 0 10px 15px rgba(40, 44, 59, 0.315), 0 15px 40px rgba(166, 173, 201, 0.616);
        }
        
        section .dataShowing .cardData .card img {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        
        @media screen and (max-width:1000px) {
            section .dataShowing .cardData {
                grid-template-columns: repeat(2, 1fr);
                margin: 20px auto;
            }
        }
        
        @media screen and (max-width:716px) {
            section .home {
                background-position: top;
            }
            .navigation .links a {
                padding: 0.5rem;
                font-size: 1rem;
            }
            .navigation .logo span {
                font-size: 1rem;
            }
            section .dataShowing .cardData {
                grid-template-columns: repeat(1, 1fr);
                margin: 20px auto;
            }
        }