<!-- navigation Part -->
<nav class="navigation sticky">
    <div class="logo">
        <img src="../assets/images/pizza.png" width="30em" height="30em">
        <span>Pizza Hunter</span>
    </div>
    <div class="links" *ngIf="!adminloginOrNot || !customerloginOrNot">
        <a *ngIf="!customerloginOrNot && !adminloginOrNot" class="login" (click)="openVerticallyCentered(login)">Login</a>
        <a *ngIf="!customerloginOrNot && !adminloginOrNot" class="signup" (click)="openVerticallyCentered(signup)">Sign Up</a>
    </div>
    <div class="links" *ngIf="customerloginOrNot">
        <strong *ngIf="customerloginOrNot">Hello,</strong>
        <p *ngIf="customerloginOrNot">{{customerData["name"]}}&nbsp;&nbsp;&nbsp;</p>
        <a *ngIf="customerloginOrNot" routerLink="carts" class="Cart" (click)="ChangeCartOpeningStatus()">Cart</a>
        <a *ngIf="customerloginOrNot" routerLink="orders" class="Cart" (click)="ChangeOrdersOpeningStatus()">Orders</a>
        <a *ngIf="customerloginOrNot" (click)="logout()">LogOut</a>
    </div>
    <div class="links" *ngIf="adminloginOrNot">
        <strong *ngIf="adminloginOrNot">Hello,
            </strong>
        <p *ngIf="adminloginOrNot">{{adminData["name"]}}&nbsp;&nbsp;&nbsp;</p>
        <a *ngIf="adminloginOrNot" routerLink="Adminorders" class="Cart" (click)="ChangeCartOpeningStatus()">All Orders</a>
        <a *ngIf="adminloginOrNot" (click)="logout()">LogOut</a>
    </div>
</nav>
<ng-template #login let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Login</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="login-right-div">
            <div class="form-wrapper-outer">
                <div class="linkOfActive">
                    <button class="btn" [ngClass]="{'active':isCustomer==true}" (click)="changeStateCustomer()">Customer</button>
                    <button class="btn" [ngClass]="{'active':isAdmin==true}" (click)="changeStateAdmin()">Admin</button>
                </div>
                <form #f="ngForm" (ngSubmit)="verifyCustomer(f)" style="width: 80%;height: 80%;" *ngIf="isCustomer">
                    <div class="field-wrapper ">
                        <input type="email " name="email " ngModel placeholder="&nbsp;" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="mail" #mail="ngModel" required>
                        <div class="field-placeholder "><span>Enter your email</span></div>
                    </div>
                    <div class="error">
                        <div *ngIf="mail.invalid && (mail.dirty || mail.touched) || mail.errors?.pattern">Please Enter Mail</div>
                    </div>
                    <div class="field-wrapper">
                        <input type="password" autocomplete="off" ngModel placeholder="&nbsp;" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" #password="ngModel" name="password" required>
                        <div class="field-placeholder"><span>Enter your password</span></div>
                    </div>
                    <div class="error">
                        <div *ngIf="password.invalid && (password.dirty || password.touched) || password.errors?.pattern" style="font-size: 10px;text-align: center;">Please Enter Password in minimum 8 letters,at least one uppercase,one lowercase,one special character</div>
                    </div>

                    <div class="field-wrapper">
                        <!-- customerloginOrNot==true?:loginAlert() -->
                        <button type="submit" style="color:white;" (click)="customerloginOrNot==true?modal.close('Close click'):loginAlert()" [disabled]="f.invalid">Log in</button>
                    </div>
                </form>
                <form #f="ngForm" (ngSubmit)="verifyAdmin(f)" style="width: 80%;height: 80%;" *ngIf="isAdmin">
                    <div class="field-wrapper">
                        <input type="email " name="email " ngModel placeholder="&nbsp;" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="mail" #mail="ngModel" required>
                        <div class="field-placeholder "><span>Admin your email</span></div>
                    </div>
                    <div class="error">
                        <div *ngIf="mail.invalid && (mail.dirty || mail.touched) || mail.errors?.pattern">Please Enter Mail</div>
                    </div>
                    <div class="field-wrapper">
                        <input type="password" autocomplete="off" ngModel placeholder="&nbsp;" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" #password="ngModel" name="password" required>
                        <div class="field-placeholder"><span>Enter your password</span></div>
                    </div>
                    <div class="error">
                        <div *ngIf="password.invalid && (password.dirty || password.touched) || password.errors?.pattern" style="font-size: 10px;text-align: center;">Please Enter Password in minimum 8 letters,at least one uppercase,one lowercase,one special character</div>
                    </div>

                    <div class="field-wrapper">
                        <button type="submit" style="color:white;" (click)="adminloginOrNot==true?modal.close('Close click'):loginAlert()" [disabled]="f.invalid">Log in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</ng-template>


<ng-template #signup let-modal>

    <div class="modal-header">
        <h4 class="modal-title">Sign Up</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="login-right-div">
            <div class="linkOfActive">
                <button class="btn" [ngClass]="{'active':isCustomerSigup==true}" (click)="changeStateCustomerSigup()">Customer</button>
                <button class="btn" style="margin-bottom: 30px;" [ngClass]="{'active':isAdminSigup==true}" (click)="changeStateAdminSigup()">Admin</button>
            </div>
            <form #f="ngForm" (ngSubmit)="dataCustomer(f)" *ngIf="isCustomerSigup" ngNativeValidate>

                <div class="field-wrapper">
                    <input type="text" name="first_name" class="form-control" ngModel autocomplete="off" placeholder="&nbsp;" #firstname="ngModel" required>
                    <div class="field-placeholder"><span>Enter your First Name</span></div>
                </div>
                <div class="error">
                    <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">Please Enter first Name</div>
                    <div *ngIf="!(firstname.invalid && (firstname.dirty || firstname.touched))" style="margin-bottom: 0px;"></div>
                </div>

                <div class="field-wrapper">
                    <input type="mail" autocomplete="off" ngModel placeholder="&nbsp;" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="mail" #mail="ngModel" required>
                    <div class="field-placeholder"><span>Enter your mail</span></div>
                </div>
                <div class="error">
                    <div *ngIf="mail.invalid && (mail.dirty || mail.touched) || mail.errors?.pattern">Please Enter Mail</div>
                    <div *ngIf="!(mail.invalid && (mail.dirty || mail.touched))"></div>
                </div>
                <div class="field-wrapper">
                    <input type="number" autocomplete="off" ngModel placeholder="&nbsp;" name="phonenumber" pattern="^((\\+91-?) |0)?[0-9]{10}$" #phonenumber="ngModel" required>
                    <div class="field-placeholder"><span>Enter your Phone Number</span></div>
                </div>
                <div class="error">
                    <div *ngIf="phonenumber.invalid && (phonenumber.dirty || phonenumber.touched) || phonenumber.errors?.pattern">Please Enter phonenumber </div>
                    <div *ngIf="!((phonenumber.invalid && (phonenumber.dirty || phonenumber.touched))|| phonenumber.errors?.pattern)" style="margin-bottom: 0px;"></div>
                </div>
                <div class="field-wrapper">
                    <input type="text" autocomplete="off" ngModel placeholder="&nbsp;" #Last_name="ngModel" name="Last_name" required>
                    <div class="field-placeholder"><span>Enter your Last Name</span></div>
                </div>
                <div class="error">
                    <div *ngIf="Last_name.invalid && (Last_name.dirty || Last_name.touched)">Please Enter Last name</div>
                    <div *ngIf="!(Last_name.invalid && (Last_name.dirty || Last_name.touched))" style="margin-bottom: 0px;"></div>
                </div>
                <div class="field-wrapper">
                    <input type="password" autocomplete="off" ngModel placeholder="&nbsp;" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" #password="ngModel" name="password" required>
                    <div class="field-placeholder"><span>Enter your password</span></div>
                </div>
                <div class="error">
                    <div *ngIf="password.invalid && (password.dirty || password.touched) || password.errors?.pattern" style="font-size: 10px;text-align: center;">Please Enter Password in minimum 8 letters,at least one uppercase,one lowercase,one special character</div>
                </div>
                <div class="field-wrapper">
                    <input type="text" autocomplete="off" ngModel placeholder="&nbsp;" #address="ngModel" name="address" required>
                    <div class="field-placeholder"><span>Enter your Address</span></div>
                </div>
                <div class="error">
                    <div *ngIf="address.invalid && (address.dirty || address.touched)">Please Enter address</div>
                    <div *ngIf="!(address.invalid && (address.dirty || address.touched))" style="margin-bottom: 0px;"></div>
                </div>

                <div class="signup">
                    <button type="submit" [disabled]="f.invalid" style="width: 90%;height:40px;border: none;background-color: #9d0000a0;border-radius: 10px;color:white;">Sign Up</button>
                </div>
            </form>
            <form #f="ngForm" (ngSubmit)="dataAdmin(f)" *ngIf="isAdminSigup" ngNativeValidate>
                <div class="field-wrapper">
                    <input type="text" name="first_name" class="form-control" ngModel autocomplete="off" placeholder="&nbsp;" #firstname="ngModel" required>
                    <div class="field-placeholder"><span>Enter your First Name</span></div>
                </div>
                <div class="error">
                    <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">Please Enter first Name</div>
                    <div *ngIf="!(firstname.invalid && (firstname.dirty || firstname.touched))" style="margin-bottom: 0px;"></div>
                </div>

                <div class="field-wrapper">
                    <input type="mail" autocomplete="off" ngModel placeholder="&nbsp;" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="mail" #mail="ngModel" required>
                    <div class="field-placeholder"><span>Enter your mail</span></div>
                </div>
                <div class="error">
                    <div *ngIf="mail.invalid && (mail.dirty || mail.touched) || mail.errors?.pattern">Please Enter Mail</div>
                    <div *ngIf="!(mail.invalid && (mail.dirty || mail.touched))"></div>
                </div>
                <div class="field-wrapper">
                    <input type="number" autocomplete="off" ngModel placeholder="&nbsp;" name="phonenumber" pattern="^((\\+91-?) |0)?[0-9]{10}$" #phonenumber="ngModel" required>
                    <div class="field-placeholder"><span>Enter your Phone Number</span></div>
                </div>
                <div class="error">
                    <div *ngIf="phonenumber.invalid && (phonenumber.dirty || phonenumber.touched) || phonenumber.errors?.pattern">Please Enter phonenumber </div>
                    <div *ngIf="!((phonenumber.invalid && (phonenumber.dirty || phonenumber.touched))|| phonenumber.errors?.pattern)" style="margin-bottom: 0px;"></div>
                </div>
                <div class="field-wrapper">
                    <input type="text" autocomplete="off" ngModel placeholder="&nbsp;" #Last_name="ngModel" name="Last_name" required>
                    <div class="field-placeholder"><span>Enter your Last Name</span></div>
                </div>
                <div class="error">
                    <div *ngIf="Last_name.invalid && (Last_name.dirty || Last_name.touched)">Please Enter Last name</div>
                    <div *ngIf="!(Last_name.invalid && (Last_name.dirty || Last_name.touched))" style="margin-bottom: 0px;"></div>
                </div>
                <div class="field-wrapper">
                    <input type="password" autocomplete="off" ngModel placeholder="&nbsp;" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" #password="ngModel" name="password" required>
                    <div class="field-placeholder"><span>Enter your password</span></div>
                </div>
                <div class="error">
                    <div *ngIf="password.invalid && (password.dirty || password.touched) || password.errors?.pattern" style="font-size: 10px;text-align: center;">Please Enter Password in minimum 8 letters,at least one uppercase,one lowercase,one special character</div>
                </div>
                <div class="field-wrapper">
                    <input type="text" autocomplete="off" ngModel placeholder="&nbsp;" #address="ngModel" name="address" required>
                    <div class="field-placeholder"><span>Enter your Address</span></div>
                </div>
                <div class="error">
                    <div *ngIf="address.invalid && (address.dirty || address.touched)">Please Enter address</div>
                    <div *ngIf="!(address.invalid && (address.dirty || address.touched))" style="margin-bottom: 0px;"></div>
                </div>

                <div class="signup">
                    <button type="submit" [disabled]="f.invalid" style="width: 90%;height:40px;border: none;color:white;background-color: #9d0000a0;border-radius: 10px;">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</ng-template>

























<router-outlet></router-outlet>











<section>

    <div class="dataShowing" *ngIf="(customerloginOrNot) && !CartOpenOrNot && !OrderOpenOrNot">
        <div class="cardData">
            <div class="card1" *ngFor="let item of CartDetails;index as i">
                <img src="{{item['images']}}" width="100%" height="45%" style="border-top-left-radius:5px;border-top-right-radius: 5px;background-size:cover;">
                <div class="cardInfo1">
                    <div class="title">{{item['name']}}</div>
                    <div class="cardInfoInsideInfo" style="font-weight: 100;color:rgb(105, 105, 105)">{{item['Pass']}}</div>
                </div>
                <div class="bottomInfo">
                    <div class="price"><strong>&#8377;{{item['price']}}</strong></div>
                    <button class="addToCart" (click)="AddToBuyingCart(item)" *ngIf="item['count']<=0 ">Add To Cart</button>
                    <div class="quantity" style="margin-right: 8%;" *ngIf="item['count']>0">
                        <button class="styleButton" (click)="decrease(item)">-</button>
                        <input type="text" style="width: 40px;text-align:center;border:0.4 solid rgba(0,0,0,.5);padding:4px 10px;" disabled value="{{item['count']}}">
                        <button class="styleButton2" (click)="increase(item)">+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>