<!-- navigation Part -->
<nav class="navigation sticky">
    <div class="logo">
        <img src="../assets/images/pizza.png" width="30em" height="30em">
        <span>Pizza Hunter</span>
    </div>
    <div class="links" *ngIf="!adminloginOrNot || !customerloginOrNot">
        <a *ngIf="!customerloginOrNot && !adminloginOrNot" routerLink="login/customer" class="login">Login</a>
        <a *ngIf="!customerloginOrNot && !adminloginOrNot" routerLink="signup/customer" class="signup">Sign up</a>
    </div>
    <div class="links" *ngIf="customerloginOrNot">
        <strong *ngIf="customerloginOrNot">Hello,</strong>
        <p *ngIf="customerloginOrNot">{{customerData["name"]}}&nbsp;&nbsp;&nbsp;</p>
        <a *ngIf="customerloginOrNot" routerLink="carts" class="Cart" (click)="ChangeCartOpeningStatus()">Cart</a>
        <a *ngIf="customerloginOrNot" routerLink="orders" class="Cart" (click)="ChangeOrdersOpeningStatus()">Orders</a>
        <a *ngIf="customerloginOrNot" (click)="logout()">LogOut</a>
    </div>
    <div class="links" *ngIf="adminloginOrNot">
        <strong *ngIf="adminloginOrNot">Hello,
            </strong>
        <p *ngIf="adminloginOrNot">{{adminData["name"]}}&nbsp;&nbsp;&nbsp;</p>
        <a *ngIf="adminloginOrNot" routerLink="Adminorders" class="Cart" (click)="ChangeCartOpeningStatus()">All Orders</a>
        <a *ngIf="adminloginOrNot" (click)="logout()">LogOut</a>
    </div>
</nav>







<router-outlet></router-outlet>













<section>
    <div class="home" *ngIf="(!adminloginOrNot && !CartOpenOrNot && !customerloginOrNot && !OrderOpenOrNot)">
        <ngb-carousel #carousel [interval]="10000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)">
            <ng-template ngbSlide *ngFor="let img of images; index as i">
                <a target="_blank" rel="nofollow noopener noreferrer">
                    <div class="picsum-img-wrapper">
                        <img [src]="img" style="width:100vw;height:calc(100vh - 4em);" alt="My image {{i + 1}} description">
                    </div>
                </a>
            </ng-template>
        </ngb-carousel>
    </div>
    <div class="dataShowing" *ngIf="(customerloginOrNot) && !CartOpenOrNot && !OrderOpenOrNot">
        <div class="cardData">
            <div class="card1" *ngFor="let item of CartDetails;index as i">
                <img src="{{item['images']}}" width="100%" height="45%" style="border-top-left-radius:5px;border-top-right-radius: 5px;background-size:cover;">
                <div class="cardInfo1">
                    <div class="title">{{item['name']}}</div>
                    <div class="cardInfoInsideInfo" style="font-weight: 100;color:rgb(105, 105, 105)">{{item['Pass']}}</div>
                </div>
                <div class="bottomInfo">
                    <div class="price"><strong>&#8377;{{item['price']}}</strong></div>
                    <button class="addToCart" (click)="AddToBuyingCart(item)" *ngIf="item['count']<=0 ">Add To Cart</button>
                    <div class="quantity" style="margin-right: 8%;" *ngIf="item['count']>0">
                        <button class="styleButton" (click)="decrease(item)">-</button>
                        <input type="text" style="width: 40px;text-align:center;border:0.4 solid rgba(0,0,0,.5);padding:4px 10px;" disabled value="{{item['count']}}">
                        <button class="styleButton2" (click)="increase(item)">+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>