<div class="model">
    <button class="close" (click)="closetoggle()"><i class="fas fa-times"></i></button>
    <div class="login-div">
        <div class="content">
            <h3 class="login-head">Sign Up</h3>
            <p style="font-size:15px;margin-top:7px;opacity: 0.7;">Looks like you're new here!</p>
        </div>
        <img src="../../assets/images/pizzaSmallImage.png" width="100%">
    </div>
    <div class="login-right-div">
        <div class="form-add">
            <div class="form-wrapper-outer">
                <div class="field-wrapper">
                    <input type="text" name="first-name" autocomplete="off" placeholder="&nbsp;" required>
                    <div class="field-placeholder"><span>Enter your First Name</span></div>
                </div>
                <div class="field-wrapper">
                    <input type="mail" autocomplete="off" placeholder="&nbsp;" name="mail" id="" required>
                    <div class="field-placeholder"><span>Enter your mail</span></div>
                </div>
                <div class="field-wrapper">
                    <input type="text" autocomplete="off" placeholder="&nbsp;" name="number" id="" required>
                    <div class="field-placeholder"><span>Enter your Phone Number</span></div>
                </div>
            </div>
            <div class="form-wrapper-outer">
                <div class="field-wrapper">
                    <input type="text" autocomplete="off" placeholder="&nbsp;" name="Last Name" id="" required>
                    <div class="field-placeholder"><span>Enter your Last Name</span></div>
                </div>
                <div class="field-wrapper">
                    <input type="password" autocomplete="off" placeholder="&nbsp;" name="password" id="" required>
                    <div class="field-placeholder"><span>Enter your password</span></div>
                </div>
                <div class="field-wrapper">
                    <input type="text" autocomplete="off" placeholder="&nbsp;" name="address" id="" required>
                    <div class="field-placeholder"><span>Enter your Address</span></div>
                </div>
            </div>
        </div>
        <div class="signup">
            <button style="width: 90%;height:40px;border: none;background-color: rgb(255, 128, 128);border-radius: 10px;">Sign Up</button>
        </div>

    </div>

</div>