<div class="model">
    <button class="close" (click)="closetoggle()"><i class="fas fa-times"></i></button>
    <!-- <div class="login-div">
        <div class="content">
            <h3 class="login-head">Sign Up</h3>
            <p style="font-size:15px;margin-top:7px;opacity: 0.7;">Looks like you're new here!</p>
        </div>
        <img src="../../assets/images/pizzaSmallImage.png" width="100%">
    </div> -->
    <div class="login-right-div">
        <div class="tabLayout">
            <a class="tab" routerLink="customer" routerLinkActive="active">Customer</a>
            <a class="tab" routerLink="admin" routerLinkActive="active">Admin</a>
        </div>
        <router-outlet></router-outlet>

    </div>

</div>